version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: demo
      POSTGRES_PASSWORD: demo
      POSTGRES_DB: demo_db
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5

  auth-service:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SERVICE: auth-service
    environment:
      RABBITMQ_URL: amqp://rabbitmq:5672
      DATABASE_URL: postgresql://demo:demo@postgres:5432/demo_db
    depends_on:
      rabbitmq:
        condition: service_healthy
      postgres:
        condition: service_started

  gateway-service:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SERVICE: gateway-service
    environment:
      RABBITMQ_URL: amqp://rabbitmq:5672
      DATABASE_URL: postgresql://demo:demo@postgres:5432/demo_db
    depends_on:
      rabbitmq:
        condition: service_healthy
      postgres:
        condition: service_started
    ports:
      - "3000:3000"

  order-service:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SERVICE: order-service
    environment:
      RABBITMQ_URL: amqp://rabbitmq:5672
      DATABASE_URL: postgresql://demo:demo@postgres:5432/demo_db
    depends_on:
      rabbitmq:
        condition: service_healthy
      postgres:
        condition: service_started

  product-service:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SERVICE: product-service
    environment:
      RABBITMQ_URL: amqp://rabbitmq:5672
      DATABASE_URL: postgresql://demo:demo@postgres:5432/demo_db
    depends_on:
      rabbitmq:
        condition: service_healthy
      postgres:
        condition: service_started

volumes:
  pg_data: